*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
   margin: 0;
}
.wrapper {
    max-width: 900px;
    margin: auto;
    
}
.top-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background: #c0c00f
}
.main-wrap {
    padding: 30px;
    padding-top: 220px;
    background: #d4d454;  
    min-height: 100vh;  
}
.new-user-wrapper {
    display: none;
}
.id-wraper {
    display: flex;
    padding: 30px;
    min-height: 160px;
}
.new-user-wrapper{
    /* display: flex; */
    justify-content: space-between;
    margin-top: 30px;
}
.new-user-wrapper > div{
    flex-basis: 48%;
}
.button-wrap{
    display: flex;
    justify-content: space-between;
}
.btn{
    border: none;
    background: #d4d454;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    flex-basis: 17%;
    margin-top: 30px;
    color: #fff;
    transition: all 0.3s ease
}
.btn:hover{
    background: #525c04;
}
.input{
    border: none;
    line-height: 32px;
    background: transparent;
    border-bottom: 2px solid  #525c04;
    padding: 0 8px;
    color: #fff;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.label{
    display: block;
    color: #fff;
    text-align: center;
    font-style: italic;
    
    
}
.users {
    width: 100%;
}
.t-head{
    font-weight: 700;
}
.td{
    padding: 10px;
    text-transform: uppercase;
    line-height: 32px;
    text-align: center;
    border-bottom: 1px dashed #525c04;
    color: #525c04;
}
.show-loader .loader-wrapper{
    display: flex
}

.loader-wrapper{
    display: none;
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background:  rgb(102, 114, 13);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

.loader-wrapper .loader-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 30px solid transparent;
    border-left-color: #fff;
    -webkit-animation: load 0.9s ease-in-out alternate infinite;
            animation: load 0.9s ease-in-out alternate infinite;
  }
  .loader-wrapper .loader-bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    background:  rgb(102, 114, 13);
    text-align: center;
    color: #fff;
    -webkit-animation: pulse 0.45s linear alternate infinite;
            animation: pulse 0.45s linear alternate infinite;
  }
  @-webkit-keyframes load {
    0% {
      -webkit-transform: rotate(-35deg);
              transform: rotate(-35deg);
    }
    18% {
      border-width: 18px;
    }
    50% {
      border-width: 4px;
    }
    82% {
      border-width: 18px;
    }
    100% {
      -webkit-transform: rotate(215deg);
              transform: rotate(215deg);
    }
  }
  @keyframes load {
    0% {
      -webkit-transform: rotate(-35deg);
              transform: rotate(-35deg);
    }
    18% {
      border-width: 18px;
    }
    50% {
      border-width: 4px;
    }
    82% {
      border-width: 18px;
    }
    100% {
      -webkit-transform: rotate(215deg);
              transform: rotate(215deg);
    }
  }
  @-webkit-keyframes pulse {
    0% {
      color: #fff;
    }
    100% {
      color: rgba(255,255,255,0.5);
    }
  }
  @keyframes pulse {
    0% {
      color: #fff;
    }
    100% {
      color: rgba(255,255,255,0.5);
    }
  }
  