*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
   margin: 0;
}
.btn-close{
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    position: absolute;
}
.btn-close:after{
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.btn-close::before{
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.btn-close:hover::after,
.btn-close:hover::before{
    background: #525c04   
}

.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1100;
    background: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
}
.pop-up-inner{
    position: relative;
    
    width: 40%;
    height: 40%;
    background: #d4d454;  ;
    padding: 30px;
    padding-top: 70px;
    color: #525c04
    text-align: center;
    font-weight: 700;
}

.pop-up-inner span{
    color: #525c04;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 900px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    background: rgb(245, 188, 113)
    
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.produkt-list{
    padding-left: 0;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    list-style-type: none
}
.produkt-list img{
    max-width: 100%;
}
.produkt-list .footer{
    background: rgb(248, 205, 148);
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}